:root {
    --content: #252525;
    --main: #FFAFCC;
    --mainLite: #FFC8DD;
    --second: #A2D2FF;
    --secondLite: #BDE0FE;
    --accent: #fb8500;
}


.header {
    background-color: var(--content);   
}

.header-menu {
    height: 70px;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 3rem;
}

.--menu-logo {
    /* width: 15vw; */
    align-self: center;
    margin-right: auto;
    font-size: 1.5rem;
}

.--menu-search input{
    /* width: 550px; */
    width: 30vw;
    height: 38px;
    margin: .3rem 0;
    padding: 5px;
    padding-left: 40px;
    color: #000;
    background-color: #cecece;
    border: none;
    border-radius: 12px;
    background-image: url(../images/SearchIcon.png);
    background-repeat: no-repeat;
    background-size: 40px;
}

.--menu-account {
    margin-left: auto;
    padding: .5rem 0;
}

._msoHeader {
    font-size: 2rem;
    vertical-align: middle;
}

.header-nav ul{
    min-height: 30px;
    display: flex;
    gap: 3rem;
    justify-content: center;
    overflow: hidden;
}

.header-nav ul li {
    min-height: 0;
}

.header-nav ul li a:hover {
    color: var(--mainLite);
    text-decoration: underline;
}


/* @media only screen and (max-width: 600px) { */
@media only screen and (max-width: 880px) {
    
    .header-menu {
        gap: .5rem;
    }

    .header-menu div {
        margin-right: 0;
    }

    ._desktopOnly {
        display: none;
    }
    




  
    body {
        /* background-color: #A2D2FF; */
    }
}