.header {
    text-align: center;
    margin: 5rem 0px;
}

.header-title {
    font-weight: 500;
    font-size: 4rem;
    margin: .5rem 0px;
    /* margin-top: 3rem; */
}

.header-p {
    margin: 1rem 0px;
    line-height: 10px;
    font-family: 'Nabla', cursive;
    font-size: 1.3rem;
}

.main {

}

.main-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(480px,1fr));
    place-items: center;
    column-gap: 1rem;
    row-gap: 3.5rem;
}

.main-grid li a img {
    width: 480px;
    aspect-ratio: 25 / 10;
    border-radius: 18px;
}